<!DOCTYPE html>
<html lang="en">
    {{>Head}}
<body>
    <nav>
        <ul>
            {{#if username}}
                <li><a href="/">{{username}}</a></li>
                <li><a href="/auth/data">Data</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/signup">Signup</a></li>
            {{/if}}
        </ul>
    </nav>
    <h1>Welcome to Home Page!</h1>
    <h2>You are authorised, {{username}}</h2>
</body>
</html>