<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth-App</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
            font-family: 'Poppins', sans-serif;
        }

        body {
            min-height: 100vh;
            background: #F2F2F2;
        }

        /*navbar*/
        nav {
            display: flex;
            justify-content: end;
            background: black;
            padding: 17px 12%;
        }

        ul {
            display: flex;
        }

        ul > li > a {
            font-size: 1.1rem;
            font-weight: 600;
            padding: 5px 0;
            margin: 0 30px;
            color: white;
        }

        /*signup and login*/
        .container {
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            width: 35%;
            height: auto;
            background-color: rgba(83, 227, 227, 0.24);
            border-radius: 15px;
        }

        .show-error {
            color: red;
        }

        .box h2 {
            text-align: center;
            margin-bottom: 5px;
            padding: 3px;
        }

        .input-fields {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            border: none;
            padding: 5px;
            width: 80%;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        .buttons {
            text-align: center;
        }

        button {
            padding: 5px;
            border: none;
            border-radius: 3px;
            background-color: azure;
            font-size: 17px;
            cursor: pointer;
            margin-right: 10px;
            margin-bottom: 8px;
        }
    </style>
</head>